{% set current = pagerData.currentPage %}
{% set total = pagerData.totalPages %}

{% if total > 1 %}
<ul class="pagination">
  {% if not pagerData.hideDesc %}
    <li class="disabled">
      <span>共有 {{pagerData.count}} 条记录，共 {{total}} 页</span>
    </li>
  {% endif %}
  {% if current > 1 %}
    <li class="prev">
      <a href="{{ (current - 1) | pageUrl(http.query) }}">上一页</a>
    </li>
    {% if current < 6 %}
      {% for page in range(1, current-1) %}
        <li><a href="{{ page | pageUrl(http.query) }}">{{page}}</a></li>
      {% endfor %}
    {% else %}
      <li><a href="{{ 1 | pageUrl}}">1</a></li>
      <li class="disabled"><span>...</span></li>
      {% for page in range(current-3, current-1) %}
        <li><a href="{{ page | pageUrl(http.query) }}">{{page}}</a></li>
      {% endfor %}
    {% endif %}
  {% endif %}
  <li class="current"><a href="{{ current | pageUrl(http.query) }}">{{current}}</a></li>
  {% if current < total %}
    {% if current > (total - 5) %}
      {% for page in range(current+1, total) %}
        <li><a href="{{ page | pageUrl(http.query) }}">{{page}}</a></li>
      {% endfor %}
    {% else %}
      {% for page in range(current+1, current+3) %}
        <li><a href="{{ page | pageUrl(http.query) }}">{{page}}</a></li>
      {% endfor %}
      <li class="disabled"><span>...</span></li>
      <li><a href="{{ total | pageUrl(http.query) }}">{{total}}</a></li>
    {% endif %}
    <li class="next">
      <a href="{{ ( current + 1 ) | pageUrl(http.query) }}">下一页</a>
    </li>
  {% endif %}
</ul>
{% endif %}
