<!doctype html>
<html ng-app>
<head>
<meta charset="utf-8">
<title><%- _('favorite-articles')%></title>
<link rel="stylesheet" href="/static/module/bootstrap/css/bootstrap.css">
<style>
body{background-color: #333}
h2.title{color: #fff;padding: 20px 0;}
.content{width: 44em;position: absolute;top: 50%;left: 50%;margin-left: -22em;margin-top: -16em;}
.content h2{text-align: center;}
.content label{color: #999}
span.msg{margin-left: 20px;}
</style>
</head>
<body>
<div class="content">
  <h2 class="title"><%- _('favorite-articles')%></h2>
  <form id="addForm" class="form-horizontal" action="/article/save" method="post">
  <input name="id" type="hidden" value="<%=http.get('id')%>"/>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label"><%- _('article-title')%></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" value="<%=http.get('title')%>" id="title" name="title" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label"><%- _('article-url')%></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" value="<%=http.get('url')%>"  id="url" name="url" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label"><%- _('article-summarty')%></label>
    <div class="col-sm-10">
      <textarea style="height:100px;" class="form-control" id="summary" name="summary"><%=http.get('summary')%></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label"><%- _('article-tags')%></label>
    <div class="col-sm-10">
      <input type="text" value="<%=http.get('tag')%>" class="form-control" id="tag" name="tag" placeholder="<%- _('tags-seperate')%>">
    </div>
  </div>
  <%if(showToken){%>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Token</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="token" name="token" required>
    </div>
  </div>
  <%}%>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary"><%-_('submit')%></button>
      <span class="msg"></span>
    </div>
  </div>
</form>
</div>
<script src="/static/module/jquery/jquery-2.1.4.js"></script>
<script src="/static/module/jquery/jquery.form.js"></script>
<script>
$(function(){
  var msg = $('span.msg'), submitBtn = $('button[type="submit"]');
  $('#addForm').ajaxForm({
    beforeSubmit: function() {
      msg.html('<span class="label label-info"><%-_("bookmark-adding")%></span>');
      submitBtn.attr('disabled', 'disabled');
    },
    success: function(data) {
      submitBtn.removeAttr('disabled');
      if(data.errno){
        msg.html('<span class="label label-danger">' + data.errmsg + '</span>');
        setTimeout(function(){
          msg.html('');
        }, 500)
      }else{
        msg.html('<span class="label label-success"><%-_("success")%></span>');
        setTimeout(function(){
          window.close();
          window.opener.location.reload();
        }, 500)
      }
    }
  });
})
</script>
</body>
</html>
