{% extends "./inc/base.html" %}

{% block body %}
<form class="form-inline search-form" style="text-align:center" action="/" method="get">
  <div class="form-group">
    <input type="text" name="keyword" value="{{http.get('keyword')}}" class="form-control search" placeholder="{{_('search-placeholder')}}">
  </div>
  <button type="submit" class="btn btn-primary"> {{ _('search') }} </button>
</form>
<div class="rows cicada-list">
  {% for item in articleList.data %}
  <div class="article-item">
    <h2>
      <a href="{{ item.url }}" target="_blank">
        {{ item.title | escape}}
      </a>
    </h2>

    <p class="datetime">
      {{ _('favorite-name') }}
      <time> {{ item.create_time | formatDate }}</time>
    </p>
    <p class="summary">
      <!--| replace( /\n/g, '<br />')-->
      {{ item.summary | escape }}
    </p>
    {% if not think.isEmpty(item.tag) %}
    <p class="tags">
      {{ _('tags-name') }}
      {% set comma = joiner() %}
      {% for tag in item.tag -%}
        {{ comma() }} <a href="/?keyword=tag%3A{{tag.name}}" class="tag">{{ tag.name }}</a>
      {%- endfor %}
    </p>
    {% endif %}
    <p class="snapshot">
      <a href="{{ item.url }}" target="_blank">
        {{ _('origin-article') }}
      </a>
      {{ _('snapshot') }}
      {% if item.snapshot.id %}
      <a href="/article/snapshot?id={{ item.id }}" target="_blank"> {{ _('full-edition') }}</a>,
      <a href="/article/snapshot?id={{ item.id }}&type=clean" target="_blank"> {{ _('concise-edition') }}</a>
      {% else %}
      <span class="generating">{{ _('generating') }}</span>
      <script>if(!window.cicadaReloadFlag){window.cicadaReloadFlag = true;setTimeout(function(){location.reload()}, 5000)}</script>
      {% endif %}
      {% if isLogin %}
      | <a href="/article/edit?id={{item.id}}" target="_blank">{{_('edit')}}</a> | <a href="/article/delete?id={{item.id}}" onClick="return confirm('{{_('confirm-delete')}}')">{{_('delete')}}</a>
      {% endif %}
    </p>
  </div>
  {% endfor %}
  <div class="pull-right">
    {% include "./inc/pager.html" %}
  </div>
</div>
{% endblock %}

{% block footer %}
  {% if isLogin %}
    <a title="{{ _('drag-to-bookmark-bar') }}" href="{{bookmarks}}" onClick="return false;">{{ _('add-to-bookmarks') }}</a>  |
    <a title="{{ _('drag-to-bookmark-bar') }}" href="{{notemarks}}" onClick="return false;">{{ _('add-to-notes') }}</a>  |
    <a href="/setting">{{_('setting')}}</a> | 
    <a href="/user/logout">{{ _('logout') }}</a>
  {% else %}
    <a href="/user/login">{{ _('login') }}</a>
  {% endif %}
{% endblock %}
